<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      Posted by somaniyaaa
    </div>
  </div>
  <div class="name">
    <div class="image center-block">
      <%=image_tag @post.image.url(:medium)%>
      <p class="title">
        <%=@post.title %>
      </p>
      <div class="text-center edit-links">
        <%=link_to "Back to Post images", posts_path %>|
        <%=link_to "Edit Post", edit_post_path(@post) %>
      </div>
    </div>
  </div>
</div>
